.read_main {
  background-image: url(../../assets/footer/zone-bg.webp);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.readsee {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.3rem;
  margin-bottom: 0.7rem;
}
.left hr {
  display: none;
}
.left h2 {
  font-family: "GilroyBold";
  font-size: 28px;
  color: #3e3939;
}
.roundIcons {
  width: 35.51px;
  height: 35.51px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #007aff;
  font-size: 20px;
  background-color: white;
}
.right {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: #007aff;
  font-size: 1.7rem;
}
.right span {
  color: #3e3939;
  font-family: "GilroySemiBold";
  font-size: 20px;
}

.grid1 {
  grid-area: A;
  position: relative;
}
.grid2 {
  grid-area: B;
  position: relative;
}
.grid3 {
  grid-area: C;
  position: relative;
}
.grid4 {
  grid-area: D;
  position: relative;
}
.grid5 {
  grid-area: E;
  position: relative;
}
.grid6 {
  grid-area: F;
  position: relative;
}

.readcard {
  display: grid;
  grid-template-areas:
    "A A A A   B B B C C C"
    "D D  E E   B B B F F F";
  width: 80%;
  margin: auto;
  height: 544.65px;
}

.readcard > div {
  margin: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
}
.readcard div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
  cursor: pointer;
}
.hu3 {
  position: absolute;
  bottom: 6%;
  left: 6%;
  color: white;
  font-family: "GilroyBold";
  font-size: 23px;
}

/* Media Query for all devices */

@media (max-width: 575px) {
  .readcard {
    width: 100%;
  }
  .right {
    display: none;
  }
  .left hr {
    display: flex;
  }
  .readcard {
    grid-template-areas:
      "A A A A"
      "C C D D"
      "B B E E"
      "B B F F";
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .readcard {
    grid-template-areas:
      "A A A A"
      "C C D D"
      "B B E E"
      "B B F F";
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .readcard {
    width: 90%;
    /* height: 50vh; */
  }
}
