.card {
  position: relative;
  width: 382px;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 1rem; */
  gap: 2rem;
}
.cardImg {
  width: 100%;
  filter: brightness(90%);
  transition: transform 0.5s;
  /* border-radius: 1rem; */
}
.cardImg:hover {
  transform: scale(1.1);
  filter: brightness(60%);
}

.card h3 {
  position: absolute;
  top: 10%;
  left: 5%;
  color: white;
  font-family: "GilroyBold";
  font-size: 22px;
}
.card p {
  position: absolute;
  color: white;
  font-family: "GilroyMedium";
  font-size: 12px;
  top: 25%;
  left: 5%;
}
.love-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background: rgba(212, 208, 208, 0.326);
  top: 9%;
  right: 30%;
  color: white;
}

.vertical-line {
  position: absolute;
  width: 1px;
  height: 210px;
  background-color: rgba(255, 255, 255, 0.783);
  top: 10%;
  right: 25%;
}
.distance {
  display: flex;
  align-items: center;
  position: absolute;
  color: white;
  bottom: 20%;
  left: 5%;
  gap: 10px;
}
.distance span {
  font-family: "GilroyMedium";
  font-size: 12px;
}
.vertical-line1 {
  position: absolute;
  width: 0.5px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.783);
  bottom: 10%;
  right: 45%;
}
.star {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  bottom: 16%;
  right: 41%;
}
.star p {
  font-family: "GilroyMedium";
  font-size: 12px;
}
.allstart {
  display: flex;
  position: absolute;
  bottom: 60%;
  font-size: 25px;
}

.allstart span {
  color: rgb(255, 255, 255);
  font-family: "GilroyMedium";
  font-size: 24px;
}

.time {
  display: flex;
  align-items: center;
  position: absolute;
  color: white;
  bottom: 10%;
  left: 5%;
  gap: 10px;
}
.time span {
  font-family: "GilroyMedium";
  font-size: 12px;
}
.arrow {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  top: 10%;
  right: 6%;
}

.therometer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  top: 30%;
  right: 4%;
}
.eye {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  top: 55%;
  right: 8%;
}

.arrow-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  bottom: 10%;
  right: 8%;
  color: rgb(255, 255, 255);
}

/* Media Query for all devices */

@media (max-width: 380px) {
  .card {
    width: 360px;
  }
}
@media (max-width: 380px) and (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 879px) {
  .card {
    width: 500px;
  }
  .love-icon {
    right: 32%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}
