.card {
  position: relative;
  width: 382px;
  height: 260px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 1rem; */
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 1rem; */
  gap: 2rem;
}
.cardImg {
  width: 100%;
  filter: brightness(100%);
  transition: transform 0.5s;
  /* border-radius: 1rem; */
}
.cardImg:hover {
  transform: scale(1.1);
  filter: brightness(70%);
}

.card h3 {
  position: absolute;
  top: 7%;
  left: 7%;
  color: white;
  font-family: "GilroyBold";
  font-size: 22px;
}
.card p {
  position: absolute;
  color: white;
  font-family: "GilroyMedium";
  font-size: 12px;
  top: 20%;
  left: 7%;
}
.love-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  border-radius: 50%;
  background: linear-gradient(
    108.46deg,
    rgba(255, 255, 255, 0.132),
    rgba(255, 255, 255, 0.007)
  );
  backdrop-filter: blur(10px);
  width: 45.37px;
  height: 45.37px;
  top: 7%;
  right: 30%;
}

.vertical-line {
  position: absolute;
  width: 1px;
  height: 222px;
  background-color: rgba(255, 255, 255, 0.447);
  top: 9%;
  right: 25%;
}
.distance {
  display: flex;
  align-items: center;
  position: absolute;
  color: white;
  bottom: 18%;
  left: 7%;
  gap: 10px;
}
.distance span {
  font-family: "GilroyMedium";
  font-size: 12px;
}
.vertical-line1 {
  position: absolute;
  width: 0.5px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.509);
  bottom: 6%;
  right: 45%;
}
.star {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  bottom: 14%;
  right: 41%;
}
.star p {
  font-family: "GilroyMedium";
  font-size: 12px;
}
.allstart {
  display: flex;
  position: absolute;
  bottom: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allstart span {
  color: rgb(255, 255, 255);
  font-family: "GilroyMedium";
  font-size: 24px;
}
.yellow {
  width: 20.4px;
  height: 20.44px;
  color: #f2d422;
}

.time {
  display: flex;
  align-items: center;
  position: absolute;
  color: white;
  bottom: 7%;
  left: 7%;
  gap: 10px;
}
.time span {
  font-family: "GilroyMedium";
  font-size: 12px;
}
.arrow {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  top: 10%;
  right: 6%;
}
.arrow span {
  font-family: "GilroySemiBold";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;
}

.therometer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  top: 33%;
  right: 6%;
}
.therometer span {
  font-family: "GilroySemiBold";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;
}
.eye {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  top: 57%;
  right: 6%;
}
.eye span {
  font-family: "GilroySemiBold";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;
}

.arrow-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  bottom: 7%;
  right: 10%;
  color: rgb(255, 255, 255);
}
.arrow-right span {
  font-family: "GilroySemiBold";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;
}
/* Media Query for all devices */

@media (max-width: 380px) {
  .card {
    width: 370px;
  }
}
@media (max-width: 380px) and (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 879px) {
  .card {
    width: 500px;
  }
  .love-icon {
    right: 32%;
  }
}

@media (min-width: 1024px) and (max-width: 1500px) {
  /* .card {
    width: 300px;
  } */
}
