.navbar {
  background-color: rgb(255, 255, 255);
  padding: 0.7rem 0;
  position: sticky;
  top: 0%;
  z-index: 20;
}
.navbar-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 13%;
}
.logo img {
  width: 100%;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  border: 0.1px solid #007aff;
  color: #007aff;
}
.earth {
  font-size: 24px;
}
.search_i {
  font-size: 24px;
}

.languages {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 90px;
  height: 49px;
  border-radius: 26px;
  border: 0.1px solid #007aff;
  color: #007aff;
}
.notification {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  /* background-color: red; */
  border: 0.1px solid #007aff;
  position: relative;
  color: #007aff;
}

.notification::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: #fb4d75;
  border-radius: 50%; /* Makes it circular */
  position: absolute;
  top: 0.6rem; /* Adjust the position as needed */
  right: 0.7rem; /* Adjust the position as needed */
}
.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 49px;
  border-radius: 2rem;
  border: 0.1px solid #007aff;
  color: #007aff;
  position: relative;
  /* gap: 30px; */
}
.menu_icon {
  position: absolute;
  right: 40%;
}
.hamburger-menu img {
  width: 40%;
  position: absolute;
  object-fit: cover;
  right: 5%;
}
/* Media Query */

@media (max-width: 993px) {
  .search-icon,
  .languages,
  .notification {
    display: none;
  }

  .logo {
    width: 40%;
  }
}

@media screen and (max-width: 576px) {
  .navbar-content {
    width: 90%;
  }
}
